@page "/"
@using FitnessTrackMicro.Models;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@inject HttpClient Http
<PageTitle>Dashboard</PageTitle>
<div class="container-fluid row-cols-3">
    <RadzenCard>
        Hello this is card
    </RadzenCard>
</div>

<h1>Hello, world!</h1>

Welcome to your new dashboard.

@code {

}