@using FitnessTrackMicro.Models;
<div>
    <RadzenText class="d-inline" TextStyle="TextStyle.Subtitle1"> @Title </RadzenText>
    @if (HasInfoIcon)
    {
        <span class="cursor-pointer">
            <RadzenIcon title=@($"{Averages.CurrentCount} entries in the past {NumberOfDays} days") Icon="info"
                    IconStyle="Radzen.IconStyle.Info" style="font-size: large; vertical-align: sub;">
        </RadzenIcon>
    </span>
    }
</div>
<div>
    @if (Averages.CurrentAverage != null)
    {
        <span class="h1 mb-3 me-2">
            @if (IsDuration)
            {
                @durationString(Averages.CurrentAverage);
            }
            else
            {
                @string.Format("{0:0.00}", Averages.CurrentAverage)
            }
           
        </span>
    }
    else
    {
        <span class="h1 mb-3 me-2">
            N/A
        </span>
    }
    <span class="cursor-pointer">
        @if (Averages.ChangeDirection == "up")
        {
            <RadzenIcon title=@TrendIconTitle Icon="trending_up"></RadzenIcon>
        }
        else if (Averages.ChangeDirection == "down")
        {
            <RadzenIcon title=@TrendIconTitle Icon="trending_down"></RadzenIcon>
        }
        else if (Averages.ChangeDirection == "none")
        {
            <RadzenIcon title=@TrendIconTitle Icon="trending_flat"></RadzenIcon>
        }
        else
        {
            <span></span>
        }
    </span>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public AverageResults Averages { get; set; }
    [Parameter]
    public int NumberOfDays { get; set; }
    [Parameter]
    public bool HasInfoIcon { get; set; }
    [Parameter]
    public string TrendIconTitle { get; set; } = string.Empty;
    [Parameter]
    public bool IsDuration { get; set; } = false;


    private string durationString(double? ms)
    {
        if (ms != null)
        {
            return TimeSpan.FromMicroseconds((double)ms).ToString(@"h\:mm");
        } else
        {
            return string.Empty;
        }
        
    }
}
